.header {
  display: flex;
  justify-content: space-around;
  background-color: #2c2c3e;
  padding: 10px 0;
}

.header button {
  background-color: #3c3c4e;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #4c4c5e;
}

.sign-out-button {
  background-color: #ff4757 !important;
}

.sign-out-button:hover {
  background-color: #ff6b6b !important;
}
