.sidebar {
  width: 250px;
  background-color: #2c2c3e;
  padding: 20px;
  color: #fff;
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background-color: #3c3c4e;
  color: #fff;
}

.filters button,
.time-buttons button,
.buttons button,
.clear-filter,
.settings {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: #3c3c4e;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filters button:hover,
.time-buttons button:hover,
.buttons button:hover,
.clear-filter:hover,
.settings:hover {
  background-color: #4c4c5e;
  transform: scale(1.05); /* Slight zoom effect */
}

.time-buttons {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time-buttons button {
  width: calc(50% - 5px); /* Two buttons per row */
}
